<html>
    <body>
    	<h1>NEW STUDENT FORM</h1>
        <form action="/newstudent">
        <p>
        	<label for="first_name">
                Enter first name: 
            </label>
            <input type="text" name="first_name" />
        </p>
        <p>
           <label for="last_name">
                Enter last name: 
            </label>
            <input type="text" name="last_name" />	
        </p>
        <p>
           <label for="github">
                Enter github id: 
            </label>
            <input type="text" name="github" />	
        </p>
        <p>
        	<input type="submit">
        </p>
        </form>
    </body>
</html>