<html>
    <body>
    	<h1>NEW PROJECT FORM</h1>
        <form action="/newproject">
        <p>
        	<label for="title">
                Enter title of project: 
            </label>
            <input type="text" name="title" />
        </p>
        <p>
           <label for="description">
                Enter a description: 
            </label>
            <input type="text" name="description" />	
        </p>
        <p>
           <label for="max_grade">
                Enter the max grade allowed: 
            </label>
            <input type="text" name="max_grade" />	
        </p>
        <p>
        	<input type="submit">
        </p>
        </form>
    </body>
</html>