<html>
<body>
	<h1>Student: {{last_name}}, {{first_name}}</h1>
	<h2>Github: {{github}}</h2>
	<h2>Grades: </h2>

	<!-- <p> {{grades}} </p> -->
<!-- 	{% for grade in grades %}
		<p>
		<a href="/project?project_title={{grade[0]}}">{{grade[0]}}</a> &nbsp {{grade[1]}} </p> 
	{% endfor %} -->

	<p>This student has shown extreme recalcitrance and has generally proved to be unreliable.</p>
	<p>It is my recommendation that they be put on double-secret probation for the remainder of the course.</p>
</body>
</html>